
.box {
	border-style: solid;
	border-color: #fce808; /* #005466;*/
	padding-bottom: 40px;
	padding-left: 40px;
	padding-top: 40px;
    padding-right: 40px;
    background-color: #ebf1f3; 
     font-size: 120%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.box2 {
	border-style: solid;
	border-color: #fce808; /* #005466;*/
	padding-bottom: 40px;
	padding-left: 40px;
	padding-top: 40px;
    padding-right: 40px;
    color: #ebf1f3;
    background-color: #005466;
     font-size: 120%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.table {
    width: 90%;
    border: 1px solid;
    text-align:center;
    font-size: 120%;
    border-color: #686868;
}


h1 {
    font-family: 'Roboto Condensed', sans-serif;
   font-size: 300%;
	font-weight: bold;
	color:#005466;
	text-align: center;
    width: 100%;
    margin: 0px 0 10px 0;
}

h2 {
    font-size: 150%;
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #005466;
	text-align: left;
    width: 100%;
    margin: 0px 0 10px 0;
}

h3 {
    font-size: 120%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #005466;
    text-align: left;
    width: 100%;
    margin: 0px 0 40px 0;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 120%;
    text-align: justify;
    line-height: 1.5em;
}

li {
   font-size: 120%;
    /* It's needed for setting position to absolute in the next rule. */
}


input[type=radio] {
    transform: scale(1);
    margin: 5px 0px 5px 0px;
}

.otree-body {
    max-width: 1200px
}


.btn-primary {
    background-color: #005466;
    color: #fce808;
    font-size:120%;
    /* #005466;*/
    /*formatting goes here*/
}