.otree-title {
	color: #005EAF;
}

.box {
  	border-style: solid;
  	border-color: #005EAF;
	border-width: 2px;
  	padding-bottom: 20px;
  	padding-left: 20px;
  	padding-top: 10px;
  	padding-right: 20px;
box-shadow: #005EAF 0px 0px 0px 3px;
}


/* .boxsmall {
	border-style: solid;
	border-color: #000d86;
	padding: 30px 30px 30px 30px;
	width: 600px;
	margin: auto;
} */

.table {
	width: 100%;
	border: 2px solid;
	text-align: center;
	border-color: #000d86;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24pt;
	font-weight: bold;
	color: #0275d8;
	text-align: center;
	width: 100%;
	margin: 0px 0 10px 0;
}

h2 {
	font-size: 18pt;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #0275d8;
	text-align: left;
	width: 100%;
	margin: 10px 0 10px 0;
}

h3 {
	font-size: 14pt;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #0275d8;
	text-align: left;
	width: 100%;
	margin: 50px 0 10px 0;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5em;
	font-size: 16pt;
}

li {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16pt;
}

br {
	display: block;
	margin: 20px 0;
}


input[type=radio] {
	transform: scale(1.5);
	margin: 5px 0px 5px 0px;
}

b, strong {
	color: #0275d8;;
}

